
BestHealtStrategies/.vs/BestHealtStrategies/v16/.suo
BestHealtStrategies/.vs/BestHealtStrategies/DesignTimeBuild/.dtbcache.v2
BestHealtStrategies/BestHealtStrategies/obj/BestHealtStrategies.csproj.nuget.dgspec.json
BestHealtStrategies/BestHealtStrategies/obj/BestHealtStrategies.csproj.nuget.g.props
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.assets.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.csprojAssemblyReference.cache
BestHealtStrategies/BestHealtStrategies/obj/project.assets.json
BestHealtStrategies/BestHealtStrategies/obj/project.nuget.cache
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.Views.pdb
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.Views.dll
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.StaticWebAssets.xml
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.runtimeconfig.json
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.runtimeconfig.dev.json
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.pdb
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.exe
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.dll
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/BestHealtStrategies.deps.json
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/appsettings.json
BestHealtStrategies/BestHealtStrategies/bin/Debug/netcoreapp3.1/appsettings.Development.json
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/apphost.exe
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.AssemblyInfo.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.AssemblyInfoInputs.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.assets.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.csproj.CopyComplete
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.csproj.CoreCompileInputs.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.csproj.FileListAbsolute.txt
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.csprojAssemblyReference.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.dll
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.genruntimeconfig.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.MvcApplicationPartsAssemblyInfo.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.MvcApplicationPartsAssemblyInfo.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.pdb
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.RazorAssemblyInfo.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.RazorAssemblyInfo.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.RazorCoreGenerate.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.RazorTargetAssemblyInfo.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.RazorTargetAssemblyInfo.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.TagHelpers.input.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.TagHelpers.output.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.Views.dll
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/BestHealtStrategies.Views.pdb
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/staticwebassets/BestHealtStrategies.StaticWebAssets.Manifest.cache
BestHealtStrategies/BestHealtStrategies/obj/Debug/netcoreapp3.1/staticwebassets/BestHealtStrategies.StaticWebAssets.xml
BestHealtStrategies/.vs/BestHealtStrategies/config/
BestHealtStrategies/.vs/BestHealtStrategies/DesignTimeBuild/.dtbcache.v2
