@{
    ViewBag.Title = "Not found - 404";
}

<div class="alert alert-danger" mt-1 mb-1>
    <h1>@ViewBag.ErrorMessage</h1>
</div> 
<a asp-action="index" asp-controller="home" class="btn btn-outline-success">Click here to navigate to home page </a>